
.icon-ok:before { content: '\e800'; } /* '' */
.icon-location-alt:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-dog:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-fb_icon:before { content: '\e805'; } /* '' */
.icon-laps:before { content: '\e806'; } /* '' */
.icon-quote:before { content: '\e809'; } /* '' */
.icon-search_icon:before { content: '\e80a'; } /* '' */
.icon-telegram_icon:before { content: '\e80c'; } /* '' */
.icon-twiter:before { content: '\e80d'; } /* '' */
.icon-union:before { content: '\e80e'; } /* '' */
.icon-viber_icon:before { content: '\e80f'; } /* '' */
.icon-cat:before { content: '\e810'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */