@media (max-width: 1675px) and  (min-width: 1440px) {
    /*Header*/
    header .soc_box {
        text-align: left;
    }
    #top-menu li {
        padding-right: 50px;
    }
    /**********/
    /*Home*/
    .main_news_item .entry-title {
        font-size: 13px;
    }
    .home .block_1 img {
        min-height: 510px;
    }
    .main_news_item .content_box {
        font-size: 13px;
        margin-bottom: 0;
    }
    .main_news_item .entry-title {
        padding-bottom: 0;
        margin-top: 15px;
    }
    .main_news_wrap .block_2_2 .et_pb_post:first-child .main_news_item {
        margin-bottom: 40px;
    }
    .home .news .news_tittle {
        font-size: 12px;
    }
    .home .news .blog_item {
        min-height: 455px;
    }
    .advices .advice_item-content, .advices .advice_item-header {
        padding: 20px 25px;
    }
    .zoopeople .blog_item-overlay h2 {
        font-size: 18px;
    }
    /**********/
    /*Footer*/
    .main_footer .footer_info {
        font-size: 12px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 12px;
    }
    /*********/
}
@media (max-width: 1439px) and  (min-width: 1200px) {
    /*Header*/
    .et-social-icons li {
        margin-left: 10px;
    }
    #top-menu li {
        padding-right: 25px;
    }
    /*Home*/
    .main_news_item .entry-title {
        font-size: 10px;
    }
    .home .block_1 img {
        min-height: 510px;
    }
    .main_news_item .content_box {
        font-size: 13px;
        margin-bottom: 0;
    }
    .main_news_item .entry-title {
        padding-bottom: 0;
        margin-top: 0;
        letter-spacing: 2px;
    }
    .main_news_wrap .block_2_2 .et_pb_post:first-child .main_news_item {
        margin-bottom: 40px;
    }
    .home .news .content {
        height: 25%;
    }
    .home .news .news_tittle {
        font-size: 10px;
    }
    .home .news .blog_item {
        min-height: 400px;
    }
    .home .block_1_1 .entry-title {
        font-size: 30px;
    }
    .home .block_1_1 {
        margin-top: 0;
    }
    .advices .advice_item-content, .advices .advice_item-header {
        padding: 20px 15px;
    }
    .advices .advice_item-header {
        background: #fff url("../images/Intersect.png") no-repeat 100% -50%;
    }
    .advices .advice_item-header .icon {
        font-size: 25px;
        top: 10px;
    }
    .zoopeople .blog_item_main .blog_item-overlay .entry-title {
        font-size: 30px;
    }
    .zoopeople .blog_item_main .content .text-wrap {
        width: 50%;
    }
    .zoopeople .blog_item-overlay h2 {
        font-size: 13px;
    }
    .zoopeople h4 p {
        font-size: 12px;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 12px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 12px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }

}
@media (max-width: 1199px) and  (min-width: 992px) {
    /*Header*/
    .et-social-icons li {
        margin-left: 0;
    }
    #top-menu li {
        padding-right: 15px;
    }
    .et_header_style_centered #top-menu>li>a {
        letter-spacing: 2px;
    }
    .language-chooser li a {
        font-size: 10px;
    }
    /*Home*/
    .main_news_item .entry-title {
        font-size: 10px;
        line-height: 15px;
        margin-top: 0;
        padding-bottom: 0;
    }
    .main_news_item .content_box {
        font-size: 12px;
        line-height: 15px;
    }
    .home .block_1 img {
        min-height: 475px;
    }
    .home .block_1_1 {
        margin-top: 0;
        padding-right: 35px;
    }
    .home .block_1_1 .entry-title {
        font-size: 26px;
    }
    .home .news .news_tittle {
        font-size: 10px;
    }
    .home .news .content {
        padding: 0 15px;
        height: 25%;
    }
    .home .news .content::after {
        display: none;
    }
    .home .news .blog_item {
        min-height: 400px;
    }
    .advices .advice_item-content, .advices .advice_item-header {
        padding: 20px 15px;
    }
    .advices .header_tittle {
        font-size: 10px;
    }
    .advices .advice_item-header {
        background: #fff url("../images/Intersect.png") no-repeat 110% -60%;
    }
    .advices .advice_item-header .icon {
        font-size: 25px;
        top: 5px;
        right: 10px;
    }
    .advices .advice_item-content {
        font-size: 12px;
        line-height: 18px;
    }
    .zoopeople .blog_item_main .blog_item-overlay .entry-title {
        font-size: 26px;
    }
    .zoopeople .blog_item_main .content .text-wrap {
        width: 50%;
    }
    .zoopeople .blog_item-overlay h2 {
        font-size: 14px;
    }
    .zoopeople .blog_item-overlay {
        padding: 0 15px 25px;
    }
    .blog_item_main .content {
        min-height: 210px;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 11px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
}

@media (max-width: 991px) and  (min-width: 768px) {
    /*Header*/
    .et_header_style_centered nav#top-menu-nav {
        display: none;
    }
    #et-top-navigation {
        margin-right: 0;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
    .et_header_style_centered #et_mobile_nav_menu {
        float: none;
        position: relative;
        margin-top: 20px;
    }
    #et_mobile_nav_menu {
        display: block;
    }
    .et_header_style_centered #main-header .mobile_nav {
        display: block;
        padding: 5px 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: rgba(0,0,0,.05);
        text-align: left;
    }
    .et_header_style_centered .mobile_nav .select_page, .et_header_style_split .mobile_nav .select_page {
        display: inline-block;
        font-size: 14px;
        opacity: 0;
    }
    .et_header_style_centered .mobile_menu_bar {
        position: absolute;
        top: 2px;
        right: 5px;
    }
    .et_header_style_centered .et_mobile_menu {
        top: 53px;
    }
    header .et-social-icons li {
        display: block;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .search_block {
        padding-left: 0;
        padding-right: 0;
    }
    .lang-block {
        padding-left: 15px;
        padding-right: 0;
        text-align: right;
    }
    .et_header_style_centered #main-header .logo_container {
        background: none;
        padding: 0;
    }
    .et_header_style_centered #main-header {
        margin-bottom: 0;
    }
    /*Home*/
    .home #main-content .container-1 {
        display: none;
    }
    .home #main-content .container-2 {
        position: initial;
    }
    .home .block_1_1 {
        background: none;
        margin-top: 0;
        padding: 0 15px;
        margin-bottom: 25px;
    }
    .home .block_1_1:before {
        display: none;
    }
    .home .block_1_1 .mob-img {
        display: block;
    }
    .main_news_wrap {
        max-height: none;
    }
    .home .block_1_1 .entry-title {
        color: #404040;
        font-size: 26px;
        padding: 20px 30px 20px;
    }
    .home .block_1_1 .block-wrap {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.25px solid rgba(64, 64, 64, 0.4);
    }
    .home .block_1_1 .entry-content {
        padding: 15px 60px 15px 30px;
        font-size: 16px;
    }
    .home .main_news_wrap .et_pb_post {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .main_news_wrap .block_2_2 {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    .main_news_item .entry-title {
        font-size: 14px;
        letter-spacing: 2px;
        padding-bottom: 0;
        min-height: 100px;
    }
    .news .img-wrapper {
        border-right: none;
    }
    .home .news .content::before {
        display: none;
    }
    .home .news .content {
        position: initial;
        height: auto;
        padding-right: 15px;
    }
    .home .news .news_tittle {
        font-size: 10px;
        letter-spacing: 0.1em;
    }
    .home .news .content_wrapper {
        margin-top: 0;
    }
    .home .news .content::after {
        display: none;
    }
    .news .blog_item {
        height: auto;
    }
    .home .news .et_pb_post {
        margin-bottom: 15px;
    }
    .info_devider .devider-sub {
        font-size: 20px;
    }
    .advices .header_tittle {
        font-size: 12px;
        line-height: 18px;
    }
    .advices .advice_item-header {
        padding-right: 85px;
    }
    .blog_item_main {
        min-height: 650px;
    }
    .zoopeople .blog_item_main p span {
        font-size: 16px;
    }
    .zoopeople .blog_item_main .content p {
        font-size: 18px;
    }
    .zoopeople .blog_item_main {
        margin-bottom: 25px;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 11px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
    .main_footer .bottom-nav {
        text-align: left;
    }
}

@media (max-width: 767px) and  (min-width: 576px) {
    /*Header*/
    .top_left {
        display: none;
    }
    .et_header_style_centered #main-header .logo_container {
        background: none;
    }
    .et_header_style_centered #main-header .mobile_nav {
        background: none;
    }
    .mobile_menu_bar:before {
        color: #000;
    }
    .et_header_style_centered .mobile_nav .select_page {
        display: none;
    }
    .top_center {
        display: flex;
        flex-direction: row-reverse;
    }
    span.logo_helper {
        display: none;
    }
    .et_header_style_centered .mobile_menu_bar {
        left: 5px;
        right: initial;
    }
    .lang-block {
        display: none;
    }
    .et_header_style_centered #main-header {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    /*Home*/
    .home #main-content .container-1 {
        display: none;
    }
    .home #main-content .container-2 {
        position: initial;
    }
    .home .block_1_1 {
        background: none;
        margin-top: 0;
        padding: 0 15px;
        margin-bottom: 25px;
    }
    .home .block_1_1:before {
        display: none;
    }
    .home .block_1_1 .mob-img {
        display: block;
    }
    .main_news_wrap {
        max-height: none;
    }
    .home .block_1_1 .entry-title {
        color: #404040;
        font-size: 26px;
        padding: 20px 30px 20px;
    }
    .home .block_1_1 .block-wrap {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.25px solid rgba(64, 64, 64, 0.4);
    }
    .home .block_1_1 .entry-content {
        padding: 15px 60px 15px 30px;
        font-size: 16px;
    }
    .home .main_news_wrap .et_pb_post {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .main_news_wrap .block_2_2 {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    .main_news_item .entry-title {
        font-size: 11px;
        letter-spacing: 2px;
        padding-bottom: 0;
        min-height: 80px;
        line-height: 20px;
    }
    .news .img-wrapper {
        border-right: none;
    }
    .home .news .content::before {
        display: none;
    }
    .home .news .content {
        position: initial;
        height: auto;
        padding-right: 15px;
    }
    .home .news .news_tittle {
        font-size: 10px;
        letter-spacing: 0.1em;
        text-align: left;
    }
    .home .news .content_wrapper {
        margin-top: 0;
        padding-left: 175px;
        padding-top: 15px;
    }
    .home .news .share_btn_wrap .dropdown {
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
    .home .news .content_wrapper .share_btn_wrap {
        text-align: left;
    }
    .home .news .content::after {
        display: none;
    }
    .news .blog_item {
        height: auto;
    }
    .home .news .et_pb_post {
        margin-bottom: 15px;
    }
    .info_devider .devider-sub {
        font-size: 20px;
    }
    .advices .header_tittle {
        font-size: 12px;
        line-height: 18px;
    }
    .advices .advice_item-header {
        padding-right: 25px;
        background: #fff url("../images/Intersect.png") no-repeat 120% -100%;
    }
    .advices .advice_item-header .icon {
        font-size: 21px;
        top: 10px;
        right: 10px;
    }
    .blog_item_main {
        min-height: 550px;
    }
    .zoopeople .blog_item_main p span {
        font-size: 16px;
    }
    .zoopeople .blog_item_main .content p {
        font-size: 18px;
    }
    .zoopeople .blog_item_main {
        margin-bottom: 25px;
    }
    .mob-block {
        display: block;
    }
    .main_news_wrap .block_1_1 .title-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 30px;
    }
    .main_news_wrap .block_1_1 .share_btn_wrap .icon {
        color: #404040;
        font-size: 24px;
    }
    .main_news_item .content_box {
        border: none;
        padding-right: 0;
        margin-bottom: 0;
    }
    .main_news_item .entry-content-wrap {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0 15px;
        min-height: 490px;
        justify-content: space-between;
    }
    .main_news_item .share_btn_wrap {
        order: 1;
        margin-bottom: 15px;
    }
    .main_news_item .img_box {
        box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.15);
    }
    .info_devider .tnp-field-email label {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .info_devider .newsletter {
        display: block;
        text-align: right;
        position: relative;
    }
    .info_devider input[type=email] {
        width: 85%;
        margin: 0 auto;
        display: block;
    }
    .tnp-field-button {
        display: inline-block;
    }
    .info_devider .newsletter input[type="submit"] {
        position: absolute;
        bottom: 25px;
        right: 10%;
    }
    .home .news .et_pb_row {
        padding-top: 0;
    }
    .news .section-tittle {
        font-size: 18px;
        padding: 20px 0;
    }
    .news .et_pb_ajax_pagination_container {
        padding: 0 10px;
    }
    .home .news .section-tittle-wrap {
        margin-bottom: 0;
    }
    .news .img-wrapper {
        width: 40%;
        border-right: 2px solid #FF8000;
    }
    .home .news .blog_item {
        max-height: 150px;
    }
    .home .news .img-wrapper img {
        max-height: 150px;
    }
    .home-soc .et_pb_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-soc .et_pb_column .et-social-icons {
        margin-top: 25px;
        padding-left: 0;
    }
    .home-soc .et_pb_column .et-social-icons li:first-child {
        margin-left: 0;
    }
    .home-soc .devider-sub {
        margin-right: 0;
    }
    .advices .header_tittle span {
        font-size: 14px;
    }
    .zoopeople h2 {
        padding-bottom: 0;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
        padding: 0 15px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 14px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
    .main_footer .bottom-nav {
        text-align: left;
    }
    .main_footer #et-footer-nav {
        display: none;
    }
    .main_footer .et-social-icons {
        text-align: left;
    }
}

@media (max-width: 575px) and  (min-width: 320px) {
    .container {
        width: 100%;
    }
    .et_pb_row {
        width: 100%;
    }
    /*Header*/
    .top_left {
        display: none;
    }
    .et_header_style_centered #main-header .logo_container {
        background: none;
    }
    .et_header_style_centered #main-header .mobile_nav {
        background: none;
    }
    .mobile_menu_bar:before {
        color: #000;
    }
    .et_header_style_centered .mobile_nav .select_page {
        display: none;
    }
    .top_center {
        display: flex;
        flex-direction: row-reverse;
    }
    span.logo_helper {
        display: none;
    }
    .et_header_style_centered .mobile_menu_bar {
        left: 5px;
        right: initial;
    }
    .lang-block {
        display: none;
    }
    .et_header_style_centered #main-header {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .et_header_style_centered .et_mobile_menu {
        width: 90vw;
    }
    /*Home*/
    .home #main-content .container-1 {
        display: none;
    }
    .home #main-content .container-2 {
        position: initial;
    }
    .home .block_1_1 {
        background: none;
        margin-top: 0;
        padding: 0 7px;
        margin-bottom: 25px;
    }
    .home .block_1_1:before {
        display: none;
    }
    .home .block_1_1 .mob-img {
        display: block;
    }
    .main_news_wrap {
        max-height: none;
    }
    .home .block_1_1 .entry-title {
        color: #404040;
        font-size: 26px;
        padding: 20px 30px 20px;
    }
    .home .block_1_1 .block-wrap {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.25px solid rgba(64, 64, 64, 0.4);
    }
    .home .block_1_1 .entry-content {
        padding: 15px 60px 15px 30px;
        font-size: 16px;
    }
    .home .main_news_wrap .et_pb_post {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main_news_wrap .block_2_2 {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .main_news_item .entry-title {
        font-size: 11px;
        letter-spacing: 2px;
        padding-bottom: 0;
        min-height: auto;
        line-height: 20px;
    }
    .news .img-wrapper {
        border-right: none;
    }
    .home .news .content::before {
        display: none;
    }
    .home .news .content {
        position: initial;
        height: auto;
        padding-right: 15px;
    }
    .home .news .news_tittle {
        font-size: 10px;
        letter-spacing: 0.1em;
        text-align: left;
    }
    .home .news .content_wrapper {
        margin-top: 0;
        padding-left: 40%;
        padding-top: 15px;
    }
    .home .news .share_btn_wrap .dropdown {
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
    .home .news .content_wrapper .share_btn_wrap {
        text-align: left;
    }
    .home .news .content::after {
        display: none;
    }
    .news .blog_item {
        height: auto;
    }
    .home .news .et_pb_post {
        margin-bottom: 15px;
    }
    .info_devider .devider-sub {
        font-size: 16px;
    }
    .advices .header_tittle {
        font-size: 12px;
        line-height: 18px;
    }
    .advices .advice_item-header {
        padding-right: 25px;
        background: #fff url("../images/Intersect.png") no-repeat 100% -100%;
    }
    .advices .advice_item-header .icon {
        font-size: 30px;
        top: 10px;
        right: 10px;
    }
    .advices .et_pb_row {
        padding-top: 0;
    }
    .advices .section-tittle {
        padding-left: 15px;
        padding-right: 15px;
    }
    .advices .et_pb_ajax_pagination_container {
        padding: 0 10px;
    }
    .advices .et_pb_post {
        margin-bottom: 0;
    }
    .blog_item_main {
        min-height: 345px;
    }
    .zoopeople .blog_item_main p span {
        font-size: 12px;
    }
    .zoopeople .blog_item_main .content p {
        font-size: 14px;
    }
    .zoopeople .blog_item_main {
        margin-bottom: 25px;
    }
    .zoopeople .et_pb_post {
        margin-bottom: 0;
    }
    .zoopeople .et_pb_post:nth-child(even) {
        padding-left: 5px;
    }
    .zoopeople .et_pb_post:nth-child(odd) {
        padding-right: 5px;
    }
    .zoopeople .entry-title {
        font-size: 13px;
        padding: 0 5px;
    }
    .zoopeople .blog_item-overlay {
        padding: 0;
    }
    .zoopeople .content_bottom {
        bottom: 15px;
        padding: 0 5px;
    }
    .zoopeople .blog_item .content_bottom h4 p {
        font-size: 9px;
    }
    .mob-block {
        display: block;
    }
    .main_news_wrap .block_1_1 .title-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 30px;
    }
    .main_news_wrap .block_1_1 .share_btn_wrap .icon {
        color: #404040;
        font-size: 24px;
    }
    .main_news_item .content_box {
        border: none;
        padding-right: 0;
        margin-bottom: 0;
    }
    .main_news_item .entry-content-wrap {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0 15px;
        min-height: auto;
        justify-content: space-between;
    }
    .main_news_item .share_btn_wrap {
        order: 1;
        margin-bottom: 15px;
    }
    .main_news_item .img_box {
        box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.15);
    }
    .info_devider .tnp-field-email label {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .info_devider .newsletter {
        display: block;
        text-align: right;
        position: relative;
    }
    .info_devider input[type=email] {
        width: 85%;
        margin: 0 auto;
        display: block;
    }
    .tnp-field-button {
        display: inline-block;
    }
    .info_devider .newsletter input[type="submit"] {
        position: absolute;
        bottom: 25px;
        right: 10%;
    }
    .home .news .et_pb_row {
        padding-top: 0;
    }
    .news .section-tittle {
        font-size: 18px;
        padding: 20px 15px;
    }
    .news .et_pb_ajax_pagination_container {
        padding: 0 10px;
    }
    .home .news .section-tittle-wrap {
        margin-bottom: 0;
    }
    .news .img-wrapper {
        width: 40%;
        border-right: 2px solid #FF8000;
    }
    .home .news .blog_item {
        max-height: 150px;
    }
    .home .news .img-wrapper img {
        max-height: 150px;
    }
    .home-soc .et_pb_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-soc .et_pb_column .et-social-icons {
        margin-top: 25px;
        padding-left: 0;
    }
    .home-soc .et_pb_column .et-social-icons li:first-child {
        margin-left: 0;
    }
    .home-soc .devider-sub {
        margin-right: 0;
    }
    .advices .header_tittle span {
        font-size: 14px;
    }
    .zoopeople h2 {
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_news_item {
        margin-bottom: 25px;
    }
    .zoopeople .et_pb_ajax_pagination_container {
        padding: 0 10px;
    }
    .zoopeople .blog_item_main .blog_item-overlay .entry-title {
        font-size: 24px;
        padding: 0;
    }
    .zoopeople .blog_item_main .content .text-wrap {
        width: 100%;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
        padding: 0 15px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 14px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
    .main_footer .bottom-nav {
        text-align: left;
    }
    .main_footer #et-footer-nav {
        display: none;
    }
    .main_footer .et-social-icons {
        text-align: left;
    }
}