@media (max-width: 1675px) and  (min-width: 1440px) {
    /*Header*/
    header .soc_box {
        text-align: left;
    }
    #top-menu li {
        padding-right: 50px;
    }
    /*Home*/
    .main_news_item .entry-title {
        font-size: 13px;
    }
    .home .block_1 img {
        height: 510px;
    }
    .main_news_item .content_box {
        font-size: 13px;
        margin-bottom: 0;
        padding: 15px 25px 10px 0;
    }
    .main_news_item .entry-title {
        padding-bottom: 0;
        margin-top: 15px;
        letter-spacing: 2px;
    }
    .main_news_wrap .block_2_2 .et_pb_post:first-child .main_news_item {
        /*margin-bottom: 40px;*/
    }
    .home .news .news_tittle {
        font-size: 12px;
    }
    .home .news .blog_item {
        min-height: 400px;
    }
    .home .news .content {
        height: 23%;
    }
    .advices .advice_item-content, .advices .advice_item-header {
        padding: 20px 25px;
    }
    .zoopeople .blog_item-overlay h2 {
        font-size: 18px;
    }
    .home .news .img-wrapper img {
        max-height: initial;
        min-height: initial;
        height: 340px;
    }
    /*News*/
    .top_news_wrap .block_1_1 .entry-title {
        font-size: 26px;
    }
    .top_news_wrap .block_1 img {
        min-height: 400px;
    }
    .posts .blog_item .img-wrapper img {
        height: 400px;
    }
    .news_posts_wrap .blog_item {
        max-height: 375px;
    }
    .posts .blog_item .post_brief {
        font-size: 13px;
    }
    .posts .blog_item-overlay .content_bottom {
        height: 250px;
    }
    .top_news_wrap .block_1 {
        padding-right: 0;
    }
    /*Single*/
    .slider.news .blog_item {
        min-height: 400px;
    }
    .slider.news .blog_item .share_btn_wrap {
        display: inline-block;
    }
    /*Events*/
    .events .blog_item {
        margin-bottom: 30px;
        height: 375px;
        min-height: auto;
    }
    .events .img-wrapper {
        height: 220px;
    }
    .events .content-text {
        overflow: hidden;
        height: 110px;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 12px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 12px;
    }
}
@media (max-width: 1439px) and  (min-width: 1200px) {
    /*Header*/
    .et-social-icons li {
        margin-left: 10px;
    }
    #top-menu li {
        padding-right: 25px;
    }
    /*Home*/
    .main_news_item .entry-title {
        font-size: 10px;
    }
    .home .block_1 img {
        height: 510px;
    }
    .main_news_item .content_box {
        font-size: 13px;
        margin-bottom: 0;
        padding: 10px 15px 10px 0;
        line-height: 21px;
    }
    .main_news_item .entry-title {
        padding-bottom: 0;
        margin-top: 0;
        letter-spacing: 2px;
    }
    .main_news_wrap .block_2_2 .et_pb_post:first-child .main_news_item {
        margin-bottom: 40px;
    }
    .home .news .content {
        height: 25%;
    }
    .home .news .news_tittle {
        font-size: 10px;
    }
    .home .news .blog_item {
        min-height: 360px;
    }
    .home .block_1_1 .entry-title {
        font-size: 30px;
    }
    .home .block_1_1 {
        margin-top: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .home .block_2_2 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: 16.666667%;
    }
    .home .block_1 {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
    .home .block_2 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .advices .advice_item-content, .advices .advice_item-header {
        padding: 20px 15px;
    }
    .advices .advice_item-header {
        background: #fff url("../images/Intersect.png") no-repeat 100% -50%;
    }
    .advices .advice_item-header .icon {
        font-size: 25px;
        top: 10px;
    }
    .zoopeople .blog_item_main .blog_item-overlay .entry-title {
        font-size: 30px;
    }
    .zoopeople .blog_item_main .content .text-wrap {
        width: 50%;
    }
    .zoopeople .blog_item-overlay h2 {
        font-size: 13px;
    }
    .zoopeople h4 p {
        font-size: 12px;
    }
    .home .news .img-wrapper img {
        max-height: initial;
        min-height: initial;
        height: 280px;
    }
    /*News*/
    .top_news_wrap .block_1_1 .entry-title {
        font-size: 19px;
    }
    .top_news_wrap .block_1 img {
        min-height: 400px;
    }
    .posts .blog_item .img-wrapper img {
        height: auto;
        min-height: 300px;
        vertical-align: bottom;
    }
    .posts .blog_item .post_tittle {
        font-size: 11px;
        padding-bottom: 10px;
    }
    .news_posts_wrap .blog_item {
        max-height: 300px;
    }
    .posts .blog_item .post_brief {
        font-size: 11px;
        padding-top: 10px;
    }
    .posts .blog_item-overlay .content_bottom {
        height: 200px;
        padding: 10px;
    }
    .top_news_wrap .block_1 {
        padding-right: 0;
    }
    .sidebar .cbox_txt {
        font-size: 11px;
    }
    .sidebar .sidebar_header {
        font-size: 18px;
    }
    .posts .blog_item-overlay {
        padding: 0 10px;
    }
    /*Single*/
    .single-post .post-header-block::before {
        display: none;
    }
    .slider .blog_item img {
        height: 300px;
        min-width: 100%;
    }
    .slider.news .blog_item {
        min-height: 375px;
        margin-bottom: 0;
    }
    .slider.news .blog_item .share_btn_wrap {
        display: inline-block;
    }
    .slider.news .content {
        padding-left: 15px;
        height: 25%;
    }
    .slider .blog_item .telegram_wrap img {
        height: 13px;
        min-width: 13px;
        display: inline-block;
    }
    .single-post .post-header-block .text-block {
        height: auto;
        margin-bottom: 75px;
    }
    .zoopeople-single .blog_item_main .blog_item-overlay .entry-title {
        font-size: 30px;
    }
    .zoopeople-single .blog_item_main .content .text-wrap {
        width: 50%;
    }
    .advices-single .advice_item-header .icon {
        font-size: 35px;
        top: 15px;
    }
    .advices-single .advice_item-header {
        background: #fff url(../images/Intersect.png) no-repeat 100% 0%;
    }
    /*Events*/
    .events .blog_item {
        margin-bottom: 30px;
        height: 315px;
        min-height: auto;
    }
    .events .img-wrapper {
        height: 185px;
    }
    .events .content-text {
        overflow: hidden;
        height: 110px;
        padding: 10px;
    }
    .events .date_txt {
        font-size: 9px;
    }
    .events .event_brief {
        font-size: 12px;
    }
    .events .event_tittle {
        line-height: 16px;
    }
    .events .blog_item-main .img-wrapper {
        height: calc(100% - 27px);
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 12px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 12px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }

}
@media (max-width: 1199px) and  (min-width: 992px) {
    /*Header*/
    .et-social-icons li {
        margin-left: 0;
    }
    #top-menu li {
        padding-right: 15px;
    }
    .et_header_style_centered #top-menu>li>a {
        letter-spacing: 2px;
    }
    .language-chooser li a {
        font-size: 10px;
    }
    /*Home*/
    .main_news_item .entry-title {
        font-size: 10px;
        line-height: 13px;
        margin-top: 0;
        padding-bottom: 0;
        letter-spacing: 2px;
    }
    .main_news_item .content_box {
        font-size: 12px;
        line-height: 13px;
        padding: 10px 25px 10px 0;
    }
    .home .block_1 {
        max-width: 49%;
    }
    .home .block_1 img {
        height: 400px;
    }
    .home .block_1_1 {
        margin-top: 0;
        padding-right: 35px;
    }
    .home .block_1_1 .entry-title {
        font-size: 26px;
    }
    .home .news .news_tittle {
        font-size: 10px;
    }
    .home .news .content {
        padding: 0 15px;
        height: 30%;
    }
    .home .news .content::after {
        display: none;
    }
    .home .news .blog_item {
        min-height: 340px;
    }
    .home .news .et_pb_post {
        margin-bottom: 15px;
    }
    .advices .advice_item-content, .advices .advice_item-header {
        padding: 20px 15px;
    }
    .advices .header_tittle {
        font-size: 10px;
    }
    .advices .advice_item-header {
        background: #fff url("../images/Intersect.png") no-repeat 100% 0%;
        background-size: 50px;
    }
    .advices .advice_item-header .icon {
        font-size: 21px;
        top: 8px;
        right: 5px;
    }
    .advices .advice_item-content {
        font-size: 12px;
        line-height: 18px;
    }
    .zoopeople .blog_item_main .blog_item-overlay .entry-title {
        font-size: 26px;
    }
    .zoopeople .blog_item_main .content .text-wrap {
        width: 50%;
    }
    .zoopeople .blog_item-overlay h2 {
        font-size: 14px;
    }
    .zoopeople .blog_item-overlay {
        padding: 0 15px 25px;
    }
    .blog_item_main .content {
        min-height: 210px;
    }
    .home .news .img-wrapper img {
        max-height: initial;
        min-height: initial;
        height: 230px;
    }
    /*News*/
    .top_news_wrap .block_1_1 .entry-title {
        font-size: 16px;
        background-size: cover;
        min-height: 150px;
    }
    .top_news_wrap .block_1_1 .entry-title:after {
        display: none;
    }
    .top_news_wrap .block_1 img {
        min-height: 300px;
    }
    .posts .blog_item .img-wrapper img {
        height: auto;
        min-height: initial;
    }
    .posts .blog_item .post_tittle {
        font-size: 11px;
        padding-bottom: 10px;
    }
    .news_posts_wrap .blog_item {
        max-height: 300px;
    }
    .posts .blog_item .post_brief {
        font-size: 11px;
        padding-top: 10px;
    }
    .posts .blog_item-overlay .content_bottom {
        height: 175px;
        padding: 10px;
    }
    .top_news_wrap .block_1 {
        padding-right: 15px;
    }
    .top_news_wrap .block_2_2 {
        padding-left: 0;
    }
    .sidebar .cbox_txt {
        font-size: 11px;
    }
    .sidebar .sidebar_header {
        font-size: 16px;
    }
    .top_news_wrap .block_1_1 .entry-content {
        font-size: 12px;
    }
    .sidebar li {
        padding: 15px 10px;
    }
    .sidebar .sidebar_top-list li a {
        font-size: 12px;
    }
    .sidebar .sidebar_contact-box {
        padding: 23px 15px;
    }
    .sidebar .cbox_btn {
        padding: 10px 25px;
    }
    /*Single*/
    .single-post .post-header-block::before {
        display: none;
    }
    .slider .blog_item img {
        height: 350px;
        min-width: 100%;
    }
    .slider.news .blog_item {
        min-height: 400px;
        margin-bottom: 0;
    }
    .slider.news .blog_item .share_btn_wrap {
        display: inline-block;
    }
    .slider.news .content {
        padding-left: 15px;
        padding-right: 15px;
        height: 26%;
    }
    .slider .blog_item .telegram_wrap img {
        height: 13px;
        min-width: 13px;
        display: inline-block;
    }
    .slider.news .content::after {
        right: 5px;
    }
    .single-post .post-header-block .text-block {
        height: auto;
        margin-bottom: 75px;
    }
    .single-post .post-header-block {
        width: auto;
        margin: 0 15px;
    }
    .single-post .post-thumb img {
        height: 500px;
    }
    .et_pb_pagebuilder_layout.single-post #page-container .et_pb_row.single-entry-content {
        width: 100%;
    }
    .single-post .image-text-bottom .icon-box:before, .single-post .image-text-bottom .icon-box:after {
        width: 35%;
    }
    .zoopeople-single .blog_item_main .blog_item-overlay .entry-title {
        font-size: 26px;
    }
    .zoopeople-single p span {
        line-height: 14px;
        font-size: 10px;
    }
    .zoopeople-single .blog_item_main .content .text-wrap {
        width: 50%;
    }
    .zoopeople-single .blog_item_main p {
        font-size: 14px;
    }
    /*Events*/
    .events .blog_item {
        margin-bottom: 30px;
        height: 315px;
        min-height: auto;
    }
    .events .img-wrapper {
        height: 185px;
    }
    .events .content-text {
        overflow: hidden;
        height: 110px;
        padding: 10px;
    }
    .events .date_txt {
        font-size: 9px;
    }
    .events .event_brief {
        font-size: 12px;
    }
    .events .event_tittle {
        line-height: 16px;
        font-size: 12px;
    }
    .events .blog_item-main .img-wrapper {
        height: calc(100% - 27px);
    }
    .events .date {
        padding: 8px 10px;
    }
    .events .date_txt span {
        margin-right: 15px;
    }
    .events .blog_item-main .content {
        padding: 15px;
    }
    .events .icon-money:before {
        vertical-align: top;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 11px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
    .main_footer .et-social-icons li {
        margin-right: 15px;
    }
}

@media (max-width: 991px) and  (min-width: 768px) {
    /*Header*/
    .et_header_style_centered nav#top-menu-nav {
        display: none;
    }
    #et-top-navigation {
        margin-right: 0;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
    .et_header_style_centered #et_mobile_nav_menu {
        float: none;
        position: relative;
        margin-top: 20px;
    }
    #et_mobile_nav_menu {
        display: block;
    }
    .et_header_style_centered #main-header .mobile_nav {
        display: block;
        padding: 5px 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: rgba(0,0,0,.05);
        text-align: left;
    }
    .et_header_style_centered .mobile_nav .select_page, .et_header_style_split .mobile_nav .select_page {
        display: inline-block;
        font-size: 14px;
        opacity: 0;
    }
    .et_header_style_centered .mobile_menu_bar {
        position: absolute;
        top: 2px;
        right: 5px;
    }
    .et_header_style_centered .et_mobile_menu {
        top: 53px;
    }
    header .et-social-icons li {
        display: block;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .search_block {
        padding-left: 0;
        padding-right: 0;
    }
    .lang-block {
        padding-left: 15px;
        padding-right: 0;
        text-align: right;
    }
    .et_header_style_centered #main-header .logo_container {
        background: none;
        padding: 0;
    }
    .et_header_style_centered #main-header {
        margin-bottom: 0;
        padding: 20px 0;
    }
    /*Home*/
    .home #main-content .container-1 {
        display: none;
    }
    .home #main-content .container-2 {
        position: initial;
    }
    .home .block_1_1 {
        background: none;
        margin-top: 0;
        padding: 0 15px;
        margin-bottom: 25px;
    }
    .home .block_1_1:before {
        display: none;
    }
    .home .block_1_1 .mob-img {
        display: block;
    }
    .main_news_wrap {
        max-height: none;
    }
    .home .block_1_1 .entry-title {
        color: #404040;
        font-size: 26px;
        padding: 20px 30px 20px;
    }
    .home .block_1_1 .block-wrap {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.25px solid rgba(64, 64, 64, 0.4);
    }
    .home .block_1_1 .entry-content {
        padding: 15px 60px 15px 30px;
        font-size: 16px;
    }
    .home .main_news_wrap .et_pb_post {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .main_news_item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_news_wrap .block_2_2 {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    .main_news_item .entry-title {
        font-size: 14px;
        letter-spacing: 2px;
        padding-bottom: 0;
        min-height: 100px;
    }
    .news .img-wrapper {
        border-right: none;
        width: 120px;
        float: left;
    }
    .home .news .content::before {
        display: none;
    }
    .home .news .content {
        position: initial;
        height: auto;
        padding-right: 15px;
    }
    .home .news .news_tittle {
        font-size: 10px;
        letter-spacing: 0.1em;
    }
    .home .news .content_wrapper {
        margin-top: 0;
        padding-top: 30px;
        padding-left: 100px;
    }
    .home .news .content::after {
        display: none;
    }
    .home .news .blog_item {
        height: auto;
        max-height: initial;
        margin-bottom: 10px;
    }
    .home .news .et_pb_post {
        margin-bottom: 15px;
    }
    .home .news .img-wrapper img {
        height: 170px;
        width: 100%;
    }
    .info_devider .devider-sub {
        font-size: 20px;
    }
    .advices .header_tittle {
        font-size: 12px;
        line-height: 18px;
    }
    .advices .advice_item-header {
        padding-right: 85px;
    }
    .blog_item_main {
        min-height: 650px;
    }
    .zoopeople .blog_item_main p span {
        font-size: 16px;
    }
    .zoopeople .blog_item_main .content p {
        font-size: 18px;
    }
    .zoopeople .blog_item_main {
        margin-bottom: 25px;
        min-height: initial;
        max-height: initial;
    }
    .zoopeople .blog_item_main .share_btn_wrap .dropdown-menu.show {
        /*top: -145px !important;*/
        transform: translate3d(94px, -120px, 0px) !important;
    }
    .zoopeople .blog_item_main .dropdown-menu img {
        min-width: auto;
        position: initial;
        vertical-align: middle;
    }
    .zoopeople .blog_item_main .share_btn_wrap .dropdown a:hover .icon {
        color: #fff;
    }
    .zoopeople .blog_item_main .content {
        background: none;
        position: initial;
        display: block;
        width: 100%;
    }
    .zoopeople .blog_item_main .blog_item-overlay {
        padding: 0;
        position: initial;
        background: #ff8000;
    }
    .zoopeople .blog_item_main img {
        vertical-align: bottom;
        position: initial;
        min-width: auto;
    }
    /*News*/
    .top_news_wrap .block_1_1 .entry-title {
        font-size: 32px;
        min-height: 150px;
        background: none;
        border-bottom: 3px solid #FF8000;
        border-right: 3px solid #FF8000;
    }
    .top_news_wrap .block_1_1 .entry-title:after {
        display: none;
    }
    .top_news_wrap .block_1 img {
        min-height: initial;
    }
    .posts .blog_item .img-wrapper img {
        height: auto;
        min-height: initial;
        vertical-align: bottom;
    }
    .posts .blog_item .post_tittle {
        font-size: 11px;
        padding-bottom: 10px;
    }
    .news_posts_wrap .blog_item {
        height: auto;
        max-height: 375px;
    }
    .posts .blog_item .post_brief {
        font-size: 14px;
        padding-top: 10px;
    }
    .posts .blog_item-overlay .content_bottom {
        height: 200px;
        padding: 10px;
    }
    .top_news_wrap .block_1 {
        padding-right: 0;
    }
    .top_news_wrap .block_2_2 {
        display: none;
    }
    .top_news_wrap .block_1_1 .entry-content {
        font-size: 14px;
    }
    .news_posts_wrap {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    .posts .posts_filter-list li:last-child {
        margin-right: 0;
    }
    .posts .posts_filter-list li {
        margin-right: 10px;
    }
    /*Single*/
    .single-post .post-header-block::before {
        display: none;
    }
    .slider .blog_item img {
        height: 300px;
        min-width: 100%;
    }
    .slider.news .blog_item {
        min-height: initial;
        margin-bottom: 0;
        height: 300px;
    }
    .slider.news .blog_item .share_btn_wrap {
        display: none;
    }
    .slider.news .content {
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    .slider.news .content_wrapper {
        padding-left: 0;
        padding-top: 15px;
    }
    .slider.news .news_time {
        font-size: 10px;
        letter-spacing: normal;
    }
    .slider.news .post {
        padding: 0 7px;
        margin-bottom: 15px;
    }
    .slider.news .content::before {
        display: none;
    }
    .slider .blog_item .telegram_wrap img {
        height: 13px;
        min-width: 13px;
        display: inline-block;
    }
    .slider.news .content::after {
        right: 5px;
    }
    .single-post .post-header-block .text-block {
        height: auto;
        margin-bottom: 75px;
    }
    .single-post .post-header-block {
        width: auto;
        margin: 0;
        position: initial;
        height: auto;
    }
    .single-post .post-thumb img {
        height: auto;
    }
    .et_pb_pagebuilder_layout.single-post #page-container .et_pb_row.single-entry-content {
        width: 100%;
    }
    .single-post .image-text-bottom .icon-box:before, .single-post .image-text-bottom .icon-box:after {
        width: 35%;
    }
    .single-post .post-thumb {
        padding-bottom: 0;
    }
    .single-post .image-full-width .text-img {
        padding: 15px;
    }
    .slider.news .img-wrapper {
        width: auto;
        float: none;
    }
    .zoopeople-single .blog_item_main p span {
        font-size: 16px;
    }
    .zoopeople-single .blog_item_main .content p {
        font-size: 18px;
    }
    .zoopeople-single .blog_item_main {
        margin-bottom: 25px;
        min-height: initial;
        max-height: initial;
    }
    .zoopeople-single .blog_item_main .share_btn_wrap .dropdown-menu.show {
        /*top: -145px !important;*/
        transform: translate3d(94px, -120px, 0px) !important;
    }
    .zoopeople-single .blog_item_main .dropdown-menu img {
        min-width: auto;
        position: initial;
        vertical-align: middle;
    }
    .zoopeople-single .blog_item_main .share_btn_wrap .dropdown a:hover .icon {
        color: #fff;
    }
    .zoopeople-single .blog_item_main .content {
        background: none;
        position: initial;
        display: block;
        width: 100%;
    }
    .zoopeople-single .blog_item_main .blog_item-overlay {
        padding: 0;
        position: initial;
        background: #ff8000;
    }
    .zoopeople-single .blog_item_main img {
        vertical-align: bottom;
        position: initial;
        min-width: auto;
    }
    .bx-wrapper .bx-viewport {
        padding-bottom: 15px;
    }
    /*Search*/
    .search .et_pb_post a img {
        height: 240px;
    }
    /*Events*/
    .events .blog_item {
        margin-bottom: 30px;
        height: 350px;
        min-height: auto;
    }
    .events .img-wrapper {
        height: 220px;
    }
    .events .content-text {
        overflow: hidden;
        height: 110px;
        padding: 10px;
    }
    .events .date_txt {
        font-size: 9px;
    }
    .events .event_brief {
        font-size: 12px;
    }
    .events .event_tittle {
        line-height: 16px;
        font-size: 12px;
    }
    .events .blog_item-main .img-wrapper {
        display: none;
    }
    .events .date {
        padding: 8px 10px;
    }
    .events .date_txt span {
        margin-right: 15px;
    }
    .events .blog_item-main .content {
        padding: 10px;
        width: 100%;
    }
    .events .icon-money:before {
        vertical-align: middle;
    }
    .events .blog_item-main .date {
        justify-content: flex-start;
    }
    .events .blog_item-main .date_txt {
        width: 100%;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 11px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
    .main_footer .bottom-nav {
        text-align: left;
    }
}

@media (max-width: 767px) and  (min-width: 576px) {
    /*Header*/
    .top_left {
        display: none;
    }
    .et_header_style_centered #main-header .logo_container {
        background: none;
        width: 50%;
    }
    .et_header_style_centered #main-header .mobile_nav {
        background: none;
    }
    .mobile_menu_bar:before {
        color: #000;
    }
    .et_header_style_centered .mobile_nav .select_page {
        display: none;
    }
    .top_center {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
    }
    .et_header_style_centered #main-header div#et-top-navigation {
        width: 50%;
    }
    span.logo_helper {
        display: none;
    }
    .et_header_style_centered .mobile_menu_bar {
        left: 5px;
        right: initial;
    }
    .lang-block {
        display: none;
    }
    .et_header_style_centered #main-header {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    /*Home*/
    .home #main-content .container-1 {
        display: none;
    }
    .home #main-content .container-2 {
        position: initial;
    }
    .home .block_1_1 {
        background: none;
        margin-top: 0;
        padding: 0 15px;
        margin-bottom: 25px;
    }
    .home .block_1_1:before {
        display: none;
    }
    .home .block_1_1 .mob-img {
        display: block;
    }
    .main_news_wrap {
        max-height: none;
    }
    .home .block_1_1 .entry-title {
        color: #404040;
        font-size: 26px;
        padding: 20px 30px 20px;
    }
    .home .block_1_1 .block-wrap {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.25px solid rgba(64, 64, 64, 0.4);
    }
    .home .block_1_1 .entry-content {
        padding: 15px 60px 15px 30px;
        font-size: 16px;
    }
    .home .main_news_wrap .et_pb_post {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .main_news_item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .home .main_news_item .entry-content {
        padding-left: 0;
        padding-right: 0;
    }
    .main_news_wrap .block_2_2 {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    .main_news_item .entry-title {
        font-size: 11px;
        letter-spacing: 2px;
        padding-bottom: 0;
        min-height: 80px;
        line-height: 20px;
    }
    .news .img-wrapper {
        border-right: none;
    }
    .home .news .content::before {
        display: none;
    }
    .home .news .content {
        position: initial;
        height: auto;
        padding-right: 15px;
        float: left;
    }
    .home .news .news_tittle {
        font-size: 10px;
        letter-spacing: 0.1em;
        text-align: left;
    }
    .home .news .content_wrapper {
        margin-top: 0;
        padding-left: 0;
        padding-top: 15px;
    }
    .home .news .share_btn_wrap .dropdown {
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
    .home .news .content_wrapper .share_btn_wrap {
        text-align: left;
    }
    .home .news .content::after {
        display: none;
    }
    .news .blog_item {
        height: auto;
    }
    .home .news .et_pb_post {
        margin-bottom: 15px;
    }
    .home .news .blog_item .share_btn_wrap .dropdown-menu.show {
        top: -100px !important;
    }
    .info_devider .devider-sub {
        font-size: 20px;
    }
    .advices .header_tittle {
        font-size: 12px;
        line-height: 18px;
    }
    .advices .advice_item-header {
        padding-right: 25px;
        background: #fff url("../images/Intersect.png") no-repeat 120% -100%;
    }
    .advices .advice_item-header .icon {
        font-size: 21px;
        top: 10px;
        right: 10px;
    }
    .blog_item_main {
        min-height: 550px;
    }
    .zoopeople .blog_item_main p span {
        font-size: 16px;
    }
    .zoopeople .blog_item_main .content p {
        font-size: 18px;
    }
    .zoopeople .blog_item_main {
        margin-bottom: 25px;
    }
    .zoopeople .blog_item_main img {
        height: 90%;
    }
    .mob-block {
        display: block;
    }
    .main_news_wrap .block_1_1 .title-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 30px;
    }
    .main_news_wrap .block_1_1 .share_btn_wrap .icon {
        color: #404040;
        font-size: 24px;
    }
    .main_news_item .content_box {
        border: none;
        padding-right: 0;
        margin-bottom: 0;
    }
    .main_news_item .entry-content-wrap {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0 15px;
        min-height: 490px;
        justify-content: space-between;
    }
    .main_news_item .share_btn_wrap {
        order: 1;
        margin-bottom: 15px;
    }
    .main_news_item .img_box {
        box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.15);
    }
    .info_devider .tnp-field-email label {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .info_devider .newsletter {
        display: block;
        text-align: right;
        position: relative;
    }
    .info_devider input[type=email] {
        width: 85%;
        margin: 0 auto;
        display: block;
    }
    .tnp-field-button {
        display: inline-block;
    }
    .info_devider .newsletter input[type="submit"] {
        position: absolute;
        bottom: 25px;
        right: 10%;
    }
    .home .news .et_pb_row {
        padding-top: 0;
    }
    .news .section-tittle {
        font-size: 18px;
        padding: 20px 0;
    }
    .news .et_pb_ajax_pagination_container {
        padding: 0 15px;
    }
    .home .news .section-tittle-wrap {
        margin-bottom: 0;
    }
    .news .img-wrapper {
        width: auto;
        border-right: 2px solid #FF8000;
        min-width: 25%;
    }
    .home .news .blog_item {
        max-height: 150px;
        display: flex;
    }
    .home .news .img-wrapper img {
        max-height: 150px;
        width: auto;
    }
    .home-soc .et_pb_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-soc .et_pb_column .et-social-icons {
        margin-top: 25px;
        padding-left: 0;
    }
    .home-soc .et_pb_column .et-social-icons li:first-child {
        margin-left: 0;
    }
    .home-soc .devider-sub {
        margin-right: 0;
    }
    .advices .header_tittle span {
        font-size: 14px;
    }
    .zoopeople h2 {
        padding-bottom: 0;
    }
    .zoopeople .blog_item_main .share_btn_wrap .dropdown-menu.show {
        /*top: -145px !important;*/
        transform: translate3d(94px, -120px, 0px) !important;
    }
    .zoopeople .blog_item_main .dropdown-menu img {
        min-width: auto;
        position: initial;
        height: auto;
    }
    .zoopeople .blog_item_main .share_btn_wrap .dropdown a:hover .icon {
        color: #fff;
    }
    /*News*/
    .top_news_wrap .block_1_1 .entry-title {
        font-size: 24px;
        min-height: 150px;
        background: none;
        border-bottom: 3px solid #FF8000;
        border-right: 3px solid #FF8000;
    }
    .top_news_wrap .block_1_1 .entry-title:after {
        display: none;
    }
    .top_news_wrap .block_1 img {
        min-height: 325px;
    }
    .posts .blog_item .img-wrapper img {
        height: 300px;
        min-height: initial;
    }
    .posts .blog_item .post_tittle {
        font-size: 11px;
    }
    .news_posts_wrap .blog_item {
        max-height: 300px;
    }
    .posts .blog_item .post_brief {
        font-size: 13px;
        padding-top: 10px;
    }
    .posts .blog_item-overlay .content_bottom {
        height: 200px;
        padding: 10px;
    }
    .top_news_wrap .block_1 {
        padding-right: 0;
    }
    .top_news_wrap .block_2_2 {
        display: none;
    }
    .top_news_wrap .block_1_1 .entry-content {
        font-size: 14px;
    }
    .news_posts_wrap {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: initial;
        padding-right: 0;
    }
    .posts .blog_item-overlay {
        padding: 0 10px;
    }
    .posts .posts_filter-list li:last-child {
        margin-right: 0;
    }
    .posts .posts_filter-list li:first-child {
        display: block;
    }
    /*Single*/
    .single-post .post-header-block::before {
        display: none;
    }
    .slider .blog_item img {
        height: 175px;
        min-width: 100%;
    }
    .slider.news .blog_item {
        min-height: initial;
        margin-bottom: 0;
        height: auto;
    }
    .slider.news .blog_item .share_btn_wrap {
        display: none;
    }
    .slider.news .content {
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    .slider.news .content_wrapper {
        padding-left: 0;
        padding-top: 0;
    }
    .slider.news .news_time {
        font-size: 10px;
        letter-spacing: normal;
    }
    .slider.news .post {
        padding: 0 7px;
        margin-bottom: 15px;
    }
    .slider .blog_item .telegram_wrap img {
        height: 13px;
        min-width: 13px;
        display: inline-block;
    }
    .slider.news .content::after {
        right: 5px;
    }
    .single-post .post-header-block .text-block {
        height: auto;
        margin-bottom: 35px;
    }
    .single-post .post-header-block {
        width: auto;
        margin: 0;
        position: initial;
        height: auto;
    }
    .single-post .post-thumb img {
        height: auto;
    }
    .et_pb_pagebuilder_layout.single-post #page-container .et_pb_row.single-entry-content {
        width: 100%;
    }
    .single-post .image-text-bottom .icon-box:before, .single-post .image-text-bottom .icon-box:after {
        width: 33%;
    }
    .single-post .post-thumb {
        padding-bottom: 0;
    }
    .single-post .image-full-width .text-img {
        padding: 15px;
        position: initial;
        width: 100%;
    }
    .slider.news .img-wrapper {
        width: auto;
        float: none;
        border: none;
    }
    .single-post .title-block .entry-title {
        font-size: 30px;
        padding-right: 15px;
    }
    .single-post .image-text-top .text-img {
        position: initial;
        width: auto;
    }
    .single-post .image-text-bottom .text-img {
        position: initial;
        width: 100%;
        padding: 45px 15px;
        font-size: 18px;
        margin: 0;
    }
    .single-post .image-text-bottom .text-box {
        padding-right: 0;
        padding-left: 0;
    }
    .single-post .image-full-width {
        margin-bottom: 0;
    }
    .news .news_tittle {
        letter-spacing: 0.5px;
    }
    .bx-wrapper {
        border-bottom: 0;
    }
    .bx-wrapper .bx-viewport {
        padding-bottom: 15px;
    }
    .zoopeople-single .blog_item_main p span {
        font-size: 16px;
    }
    .zoopeople-single .blog_item_main .content p {
        font-size: 18px;
    }
    .zoopeople-single .blog_item_main {
        margin-bottom: 25px;
    }
    .zoopeople-single .blog_item_main img {
        height: 90%;
    }
    .zoopeople-single .blog_item_main .share_btn_wrap .dropdown-menu.show {
        /*top: -145px !important;*/
        transform: translate3d(94px, -120px, 0px) !important;
    }
    .zoopeople-single .blog_item_main .dropdown-menu img {
        min-width: auto;
        position: initial;
        height: auto;
    }
    .zoopeople-single .blog_item_main .share_btn_wrap .dropdown a:hover .icon {
        color: #fff;
    }
    .single-post .et_pb_column .et_pb_module {
        width: 100%;
    }
    .bx-wrapper .bx-viewport {
        padding-bottom: 15px;
    }
    /*Search*/
    .search .et_pb_post a img {
        height: 240px;
    }
    /*Events*/
    .events .blog_item {
        margin-bottom: 30px;
        height: 360px;
        min-height: auto;
    }
    .events .img-wrapper {
        height: 300px;
    }
    .events .content-text {
        overflow: hidden;
        height: 110px;
        padding: 10px;
    }
    .events .date_txt {
        font-size: 9px;
    }
    .events .event_brief {
        font-size: 12px;
    }
    .events .event_tittle {
        line-height: 16px;
        font-size: 12px;
    }
    .events .blog_item-main .img-wrapper {
        display: block;
        height: calc(100% - 27px);
    }
    .events .date {
        padding: 8px 10px;
    }
    .events .date_txt span {
        margin-right: 15px;
    }
    .events .blog_item-main .content {
        padding: 10px;
        width: 45%;
    }
    .events .icon-money:before {
        vertical-align: middle;
    }
    .events .blog_item-main .date {
        justify-content: flex-start;
    }
    .events .blog_item-main .date_txt {
        width: 100%;
    }
    .events .evens_tittle {
        font-size: 16px;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
        padding: 0 15px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 14px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
    .main_footer .bottom-nav {
        text-align: left;
    }
    .main_footer #et-footer-nav {
        display: none;
    }
    .main_footer .et-social-icons {
        text-align: left;
    }
}

@media (max-width: 575px) and  (min-width: 320px) {
    .container {
        width: 100%;
    }
    .et_pb_row {
        width: 100%;
    }
    /*Header*/
    .top_left {
        display: none;
    }
    .et_header_style_centered #main-header .logo_container {
        background: none;
        width: 67%;
    }
    .et_header_style_centered #main-header .mobile_nav {
        background: none;
    }
    .mobile_menu_bar:before {
        color: #000;
    }
    .et_header_style_centered .mobile_nav .select_page {
        display: none;
    }
    .top_center {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
    }
    .et_header_style_centered #main-header div#et-top-navigation {
        width: 33%;
    }
    span.logo_helper {
        display: none;
    }
    .et_header_style_centered .mobile_menu_bar {
        left: 5px;
        right: initial;
    }
    .lang-block {
        display: none;
    }
    .et_header_style_centered #main-header {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .et_header_style_centered .et_mobile_menu {
        width: 90vw;
    }
    .top_header .et_mobile_menu {
        border-top: 3px solid #FF8000;
    }
    /*Home*/
    .home .main_news_wrap .block_2_2 .post:nth-child(1) .img-wrap {
        padding-right: 4px;
        padding-left: 7px;
        height: auto;
    }
    .home .main_news_wrap .block_2_2 .post:nth-child(2) .img-wrap {
        padding-right: 7px;
        padding-left: 4px;
        height: auto;
    }
    .home .main_news_wrap .block_2_2 .post:nth-child(1) .entry-content {
        padding-right: 4px;
        padding-left: 7px;
    }
    .home .main_news_wrap .block_2_2 .post:nth-child(2) .entry-content {
        padding-right: 7px;
        padding-left: 4px;
    }
    .home #main-content .container-1 {
        display: none;
    }
    .home #main-content .container-2 {
        position: initial;
    }
    .home .block_1_1 {
        background: none;
        margin-top: 0;
        padding: 0 7px;
        margin-bottom: 25px;
    }
    .home .block_1_1:before {
        display: none;
    }
    .home .block_1_1 .mob-img {
        display: block;
    }
    .main_news_wrap {
        max-height: none;
    }
    .home .block_1_1 .entry-title {
        color: #404040;
        font-size: 26px;
        padding: 20px 30px 20px;
    }
    .home .block_1_1 .block-wrap {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.25px solid rgba(64, 64, 64, 0.4);
    }
    .home .block_1_1 .entry-content {
        padding: 15px 60px 15px 30px;
        font-size: 16px;
    }
    .home .main_news_wrap .et_pb_post {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .main_news_wrap .block_2_2 {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    .main_news_item .entry-title {
        font-size: 10px;
        padding-bottom: 0;
        min-height: auto;
        line-height: 12px;
        letter-spacing: 1.5px;
        margin-top: 0;
    }
    .news .img-wrapper {
        border-right: none;
    }
    .home .news .content::before {
        display: none;
    }
    .home .news .content {
        position: initial;
        height: auto;
        padding-right: 15px;
    }
    .home .news .news_tittle {
        font-size: 10px;
        letter-spacing: 0.1em;
        text-align: left;
    }
    .home .news .content_wrapper {
        margin-top: 0;
        padding-left: 40%;
        padding-top: 15px;
    }
    .home .news .share_btn_wrap .dropdown {
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
    .home .news .content_wrapper .share_btn_wrap {
        text-align: left;
    }
    .home .news .content::after {
        display: none;
    }
    .news .blog_item {
        height: auto;
    }
    .home .news .et_pb_post {
        margin-bottom: 15px;
    }
    .info_devider .devider-sub {
        font-size: 16px;
    }
    .advices .header_tittle {
        font-size: 10px;
        line-height: 18px;
    }
    .advices .advice_item-header {
        padding-right: 15px;
        background: #fff url(../images/Intersect.png) no-repeat 100% 0;
        background-size: 40px;
    }
    .advices .advice_item-header .icon {
        font-size: 15px;
        top: 5px;
        right: 7px;
    }
    .advices .et_pb_row {
        padding-top: 0;
    }
    .advices .section-tittle {
        padding-left: 15px;
        padding-right: 15px;
    }
    .advices .et_pb_ajax_pagination_container {
        padding: 0 15px;
    }
    .advices .et_pb_post {
        margin-bottom: 0;
    }
    .advices .et_pb_post:nth-child(odd) {
        padding-left: 7px;
        padding-right: 4px;
    }
    .advices .et_pb_post:nth-child(even) {
        padding-left: 4px;
        padding-right: 7px;
    }
    .blog_item_main {
        min-height: 345px;
    }
    .zoopeople .blog_item_main p span {
        font-size: 12px;
    }
    .zoopeople .blog_item_main .content p {
        font-size: 14px;
    }
    .zoopeople .blog_item_main {
        margin-bottom: 25px;
        min-height: initial;
    }
    .zoopeople .et_pb_post {
        margin-bottom: 0;
    }
    .zoopeople .et_pb_post:nth-child(even) {
        padding-left: 5px;
    }
    .zoopeople .et_pb_post:nth-child(odd) {
        padding-right: 5px;
    }
    .zoopeople .entry-title {
        font-size: 13px;
        padding: 0 5px;
    }
    .zoopeople .blog_item-overlay {
        padding: 0;
    }
    .zoopeople .content_bottom {
        bottom: 15px;
        padding: 0 5px;
    }
    .zoopeople .blog_item .content_bottom h4 p {
        font-size: 9px;
    }
    .zoopeople .blog_item_main img {
        position: inherit;
        vertical-align: bottom;
    }
    .zoopeople .blog_item_main .blog_item-overlay {
        min-height: initial;
        position: initial;
    }
    .zoopeople .blog_item_main .content {
        position: initial;
        min-height: auto;
    }
    .mob-block {
        display: block;
    }
    .main_news_wrap .block_1_1 .title-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 30px;
    }
    .main_news_wrap .block_1_1 .share_btn_wrap .icon {
        color: #404040;
        font-size: 24px;
    }
    .main_news_item .content_box {
        border: none;
        padding-right: 0;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 16px;
        height: 130px;
        overflow: hidden;
    }
    .main_news_item .entry-content-wrap {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 8px 10px 0 13px;
        min-height: auto;
        justify-content: space-between;
    }
    .main_news_item .share_btn_wrap {
        order: 1;
        margin-bottom: 15px;
    }
    .main_news_item .img_box {
        box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.15);
    }
    .info_devider.et_pb_section {
        margin-top: 15px;
    }
    .info_devider .tnp-field-email label {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .info_devider .newsletter {
        display: block;
        text-align: right;
        position: relative;
    }
    .info_devider input[type=email] {
        width: 85%;
        margin: 0 auto;
        display: block;
    }
    .tnp-field-button {
        display: inline-block;
    }
    .info_devider .newsletter input[type="submit"] {
        position: absolute;
        bottom: 25px;
        right: 10%;
    }
    .home .news .et_pb_row {
        padding-top: 0;
    }
    .news .section-tittle {
        font-size: 18px;
        padding: 20px 15px;
    }
    .news .et_pb_ajax_pagination_container {
        padding: 0 15px;
    }
    .home .news .section-tittle-wrap {
        margin-bottom: 0;
    }
    .news .img-wrapper {
        width: 40%;
        border-right: 2px solid #FF8000;
        max-width: 121px;
    }
    .home .news .blog_item {
        max-height: 150px;
    }
    .home .news .img-wrapper img {
        max-height: 150px;
    }
    .home-soc .et_pb_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-soc .et_pb_column .et-social-icons {
        margin-top: 25px;
        padding-left: 0;
    }
    .home-soc .et_pb_column .et-social-icons li:first-child {
        margin-left: 0;
    }
    .home-soc .devider-sub {
        margin-right: 0;
    }
    .advices .header_tittle span {
        font-size: 12px;
        margin-right: 15px;
        max-width: 70%;
        display: block;
        padding-bottom: 0;
    }
    .advices .advice_item-content {
        font-size: 12px;
        padding-right: 15px;
    }
    .advices .advice_item {
        background-size: 30px;
    }
    .advices .advice_item .share_btn_wrap .dropup {
        margin-right: 0;
        margin-bottom: 0;
    }
    .zoopeople h2 {
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_news_item {
        margin-bottom: 25px;
    }
    .zoopeople .et_pb_ajax_pagination_container {
        padding: 0 15px;
    }
    .zoopeople .blog_item_main .blog_item-overlay .entry-title {
        font-size: 24px;
        padding: 0;
    }
    .zoopeople .blog_item_main .content .text-wrap {
        width: 100%;
    }
    .home .news .blog_item .share_btn_wrap .dropdown-menu.show {
        top: -100px !important;
    }
    .advices .advice_item .share_btn_wrap .dropdown-menu.show {
        left: -50px !important;
    }
    .zoopeople .blog_item_main .share_btn_wrap .dropdown-menu.show {
        /*top: -145px !important;*/
        transform: translate3d(94px, -120px, 0px) !important;
    }
    .zoopeople .blog_item_main .dropdown-menu img {
        min-width: auto;
        position: initial;
        vertical-align: middle;
    }
    .zoopeople .blog_item_main .share_btn_wrap .dropdown a:hover .icon {
        color: #fff;
    }
    /*News*/
    .top_news_wrap .container-1 {
        display: none;
    }
    .top_news_wrap .mob-img {
        display: block;
    }
    .top_news_wrap .container-2 {
        position: initial;
    }
    .top_news_wrap .block_1_1 .entry-title {
        font-size: 16px;
        background: none;
        color: #404040;
        min-height: initial;
        padding: 10px 15px;
        letter-spacing: 3px;
    }
    .top_news_wrap .share_btn_wrap .icon {
        color: #404040;
    }
    .top_news_wrap .block_1_1 .block-wrap {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.25px solid rgba(64, 64, 64, 0.4);
    }
    .top_news_wrap .block_1_1 .entry-title:after {
        display: none;
    }
    .top_news_wrap .block_1 img {
        min-height: 445px;
    }
    .posts .blog_item .img-wrapper img {
        height: auto;
        min-height: initial;
    }
    .posts .blog_item .post_tittle {
        font-size: 11px;
    }
    .news_posts_wrap .blog_item {
        max-height: 300px;
        max-width: 320px;
        margin: 0 auto 25px;
    }
    .posts .blog_item .post_brief {
        font-size: 13px;
        padding-top: 10px;
    }
    .posts .blog_item-overlay .content_bottom {
        height: 175px;
        padding: 10px;
    }
    .top_news_wrap .block_1 {
        padding-right: 0;
    }
    .top_news_wrap .block_2_2 {
        display: none;
    }
    .top_news_wrap .block_1_1 .entry-content {
        font-size: 13px;
        color: #404040;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .news_posts_wrap {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: initial;
        padding-right: 0;
    }
    .posts .blog_item-overlay {
        padding: 0 10px;
    }
    .main-news-row {
        min-height: initial;
    }
    .top_news_wrap .share_btn_wrap .dropdown-menu.show {
        transform: translate3d(-69px, 19px, 0px) !important;
    }
    .posts .posts_filter-list li:last-child {
        margin-right: 0;
    }
    .posts .posts_filter-list li:first-child {
        display: block;
    }
    /*Single*/
    .single-post .post-header-block::before {
        display: none;
    }
    .slider .blog_item img {
        height: 175px;
        min-width: 100%;
    }
    .slider.news .blog_item {
        min-height: initial;
        margin-bottom: 0;
        height: auto;
    }
    .slider.news .blog_item .share_btn_wrap {
        display: none;
    }
    .slider.news .content {
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    .slider.news .content_wrapper {
        padding-left: 0;
        padding-top: 0;
    }
    .slider.news .news_time {
        font-size: 10px;
        letter-spacing: normal;
    }
    .slider.news .post {
        padding: 0 7px;
        margin-bottom: 15px;
    }
    .slider .blog_item .telegram_wrap img {
        height: 13px;
        min-width: 13px;
        display: inline-block;
    }
    .slider.news .content::after {
        right: 5px;
    }
    .single-post .post-header-block .text-block {
        height: auto;
        margin-bottom: 35px;
        width: 90%;
        font-size: 14px;
    }
    .single-post .post-header-block {
        width: auto;
        margin: 0;
        position: initial;
        height: auto;
    }
    .single-post .post-thumb img {
        height: auto;
    }
    .et_pb_pagebuilder_layout.single-post #page-container .et_pb_row.single-entry-content {
        width: 100%;
        padding: 0 15px;
    }
    .single-post .image-text-bottom .icon-box:before, .single-post .image-text-bottom .icon-box:after {
        width: 30%;
    }
    .single-post .post-thumb {
        padding-bottom: 0;
    }
    .single-post .image-full-width .text-img {
        padding: 15px;
        position: initial;
        width: 100%;
    }
    .slider.news .img-wrapper {
        width: auto;
        float: none;
        border: none;
    }
    .single-post .title-block .entry-title {
        font-size: 18px;
        padding-right: 15px;
    }
    .single-post .image-text-top .text-img {
        position: initial;
        width: auto;
    }
    .single-post .image-text-bottom .text-img {
        position: initial;
        width: 100%;
        padding: 25px 15px;
        font-size: 18px;
        margin: 0;
    }
    .single-post .image-text-bottom .text-box {
        padding-right: 0;
        padding-left: 0;
    }
    .single-post .image-full-width {
        margin-bottom: 0;
    }
    .news .news_tittle {
        letter-spacing: 0.5px;
    }
    .bx-wrapper {
        border-bottom: 0;
    }
    .bx-wrapper .bx-viewport {
        padding-bottom: 15px;
    }
    .single-post .single-content .social-box .et-social-icons {
        margin: 25px 0;
    }
    .single-post .image-text-top {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .single-post .image-text-bottom {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .single-post .image-text-bottom .icon {
        font-size: 25px;
        margin: 0 15px;
        width: 45px;
    }
    .single-post .read-next .border-box {
        width: 85%;
    }
    .zoopeople-single .blog_item_main .dropdown-menu img {
        min-width: auto;
        position: initial;
        vertical-align: middle;
    }
    .zoopeople-single .blog_item_main .share_btn_wrap .dropdown a:hover .icon {
        color: #fff;
    }
    .zoopeople-single .blog_item_main .blog_item-overlay .entry-title {
        font-size: 24px;
        padding: 0;
    }
    .zoopeople-single .blog_item_main .content {
        position: initial;
        min-height: initial;
    }
    .zoopeople-single .blog_item_main .blog_item-overlay {
        min-height: initial;
        position: initial;
    }
    .zoopeople-single .blog_item_main .content {
        position: initial;
        min-height: initial;
    }
    .zoopeople-single .blog_item_main {
        margin-bottom: 25px;
        min-height: initial;
    }
    .zoopeople-single .blog_item_main img {
        position: inherit;
    }
    .zoopeople-single .blog_item_main .content .text-wrap {
        width: 100%;
    }
    .zoopeople-single .blog_item_main .content p {
        font-size: 14px;
    }
    .zoopeople-single .blog_item_main .share_btn_wrap .dropdown-menu.show {
        /* top: -145px !important; */
        transform: translate3d(94px, -120px, 0px) !important;
    }
    .zoopeople-single .blog_item_main img {
        vertical-align: bottom;
    }

    /*Search*/
    .search .et_pb_post a img {
        height: auto;
    }
    .search .blog_item {
        max-width: 300px;
        margin: 0 auto;
    }
    /*Events*/
    .events .blog_item {
        height: 360px;
        min-height: auto;
        max-width: 275px;
        margin: 7px auto;
    }
    .events .img-wrapper {
        height: 300px;
    }
    .events .content-text {
        overflow: hidden;
        height: 110px;
        padding: 10px;
    }
    .events .date_txt {
        font-size: 9px;
    }
    .events .event_brief {
        font-size: 12px;
    }
    .events .event_tittle {
        line-height: 16px;
        font-size: 12px;
    }
    .events .blog_item-main .img-wrapper {
        display: none;
        height: calc(100% - 27px);
    }
    .events .date {
        padding: 8px 10px;
    }
    .events .date_txt span {
        margin-right: 15px;
    }
    .events .blog_item-main .content {
        padding: 10px;
        width: 100%;
    }
    .events .icon-money:before {
        vertical-align: middle;
    }
    .events .blog_item-main {
        height: 300px;
    }
    .events .blog_item-main .date {
        justify-content: flex-start;
    }
    .events .blog_item-main .date_txt {
        width: 100%;
    }
    .events .evens_tittle {
        font-size: 16px;
    }
    .events_filter span {
        margin-right: 15px;
        font-size: 10px;
    }
    .events_filter .event-filtr .select-box:first-child {
        margin-right: 15px;
    }
    .event-filtr {
        font-size: 10px;
    }
    .events_filter .event-filtr .select-box select {
        min-width: 85px;
    }
    /*Footer*/
    .main_footer .footer_info {
        font-size: 11px;
        padding: 0 15px;
    }
    .main_footer .footer_copyright {
        font-size: 10px;
    }
    .main_footer .et-social-icon:before {
        font-size: 20px;
    }
    .main_footer .redaction {
        font-size: 14px;
    }
    .footer_bottom {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .main_footer .bottom-nav li:first-child {
        padding-left: 0;
    }
    .main_footer .bottom-nav {
        text-align: left;
    }
    .main_footer #et-footer-nav {
        display: none;
    }
    .main_footer .et-social-icons {
        text-align: left;
    }
}